@use '../../../../scss/variables.scss' as *;
@use '../../../../scss/mixins.scss' as *;

.card {
  position: relative;
  width: 320px;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, transparent 30px, $default 30px);
  border-radius: 12px;
  margin-bottom: 14px;
  cursor: pointer;
}

.cardInner {
  width: 312px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url('../../../../assets/img/Photo.png') 0% 100% no-repeat, linear-gradient(135deg, transparent 29px, $light-title 29px);
  border-radius: 10px;
  padding: 20px 10px 10px 45px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 30px, rgba(255, 255, 255, 0.7) 30px);
  z-index: 100;
}

.circle {
  width: 80px;
  height: 80px;
  flex-direction: column;
  line-height: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $default;
  display: flex;
  align-self: flex-end;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}

.weight {
  font-size: 42px;
}

.endProduct {
  &.card {
    background: linear-gradient(135deg, transparent 30px, $description 30px);
  }

  & .circle {
    background-color: $description;
  }
}

.contentDescr {
  font-size: 16px;
}

.notice {
  display: none;
  color: $selected;
}

.active {
  &.card {
    background: linear-gradient(135deg, transparent 30px, $selected 30px);
  }

  & .circle {
    background-color: $selected;
  }
}

.active:hover .contentDescr{
  display: none;
}

.active:hover .notice{
  display: initial;
}

.active:focus .notice{
  display: none;
}

.active:focus .contentDescr{
  display: initial;
}
