@use '../../../../scss/variables.scss' as *;
@use '../../../../scss/mixins.scss' as *;

.content {
  @include text(16px, $description);
}

.titleContainer {
  @include text(48px, $dark-title);
  font-weight: 700;
  margin-top: 5px;
}

.subtitle {
  font-size: 24px;
}

.description {
  width: 160px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-top: 15px;
  line-height: 1.1;

  span:first-letter {
    font-weight: 700;
  }
}

.descriptionCount {
  font-weight: 700;
}
